<form [formGroup]="form" (ngSubmit)="btnSave($event)">
    <div class="form-group">
      <label class="text-light">Especialidad</label>
      <select class="form-control" formControlName="especialidad" (change)="listMedicoxEsp(); listarHorario()">
        <option *ngFor="let esp of especialidades" [ngValue]="esp.cod_esp">
          {{esp.nombre}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="text-light">Medico</label>
      <select class="form-control" formControlName="medico" (change)="listarHorario()">
        <option *ngFor="let med of medicos" [ngValue]="med.cod_med">
          {{med.nombres}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="text-light">Fecha</label>
      <input class="form-control" formControlName="fecha" (change)="listarHorario()">
    </div>
    <div class="form-group">
      <label class="text-light">Horario Disponible</label>
      <select class="form-control" formControlName="horario">
        <option *ngFor="let hora of horasDisponible" [ngValue]="hora">
          {{hora}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>