<form>
    <div class="form-group">
        <label for="exampleFormControlInput1" class="text-light">Nombres</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" class="text-light">Correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1" class="text-light">Comentarios o sugerencias</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>